<a href="https://colab.research.google.com/github/amrofi/jupyter_rnotebook/blob/master/Amostra_r%C3%A1pida_do_Jupyter_notebook_no_Kaggle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# AMOSTRA RÁPIDA DO JUPYTER NOTEBOOK NO KAGGLE UTILIZANDO **R**

# Introdução
Farei uma pequena apresentação de como executar comandos rápidos em R pelo Jupyter notebook do <rnotebook.io>. É preciso lembrar que usarei apenas os pacotes que já estão disponíveis no <rnotebook.io>. Esta primeira célula é uma linha de Markdown que aceita textos e também LateX. Assim, você poderá usar as estratégias de negritar, itálico, etc. Ao clicar em Run, você executa a linha.

Vou executar as rotinas como em [Croissant e Millo (s.d.)](https://cran.r-project.org/web/packages/plm/vignettes/plmPackage.html). O exemplo usa o pacote `plm`, já instalado pelo _rnotebook.io_.

Os modelos básicos de painéis lineares usados em econometria podem ser descritos através de restrições adequadas do seguinte modelo geral:

\begin{equation*}
 y_{it}=\alpha_{it} +  \beta_{it}^\top x_{it} + u_{it}
\end{equation*}

# Pacote básico

Este pacote `plm` possui quatro conjuntos de dados : `EmplUK` utilizado por M. Arellano e Bond (1991); `Grunfeld` de Kleiber e Zeileis (2008), utilizado em vários livros econométricos; `Produc` de Munnell (1990); e, `Wages` de Cornwell e Rupert (1988). Os dados são carregados fazendo:

In [5]:
install.packages('plm', repos='http://cran.rstudio.com/')

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘miscTools’, ‘bibtex’, ‘gbRd’, ‘bdsmatrix’, ‘zoo’, ‘sandwich’, ‘lmtest’, ‘maxLik’, ‘Rdpack’, ‘Formula’

In [6]:
library("plm")

In [7]:
data("EmplUK", package="plm")
data("Produc", package="plm")
data("Grunfeld", package="plm")
data("Wages", package="plm")

In [8]:
head(EmplUK)
head(Produc)
head(Grunfeld)
head(Wages)

  firm year sector emp   wage    capital output
1 1    1977 7      5.041 13.1516 0.5894   95.7072
2 1    1978 7      5.600 12.3018 0.6318   97.3569
3 1    1979 7      5.015 12.8395 0.6771   99.6083
4 1    1980 7      4.715 13.8039 0.6171  100.5501
5 1    1981 7      4.093 14.2897 0.5076   99.5581
6 1    1982 7      3.166 14.8681 0.4229   98.6151

  state   year region pcap     hwy     water   util    pc       gsp   emp
1 ALABAMA 1970 6      15032.67 7325.80 1655.68 6051.20 35793.80 28418 1010.5
2 ALABAMA 1971 6      15501.94 7525.94 1721.02 6254.98 37299.91 29375 1021.9
3 ALABAMA 1972 6      15972.41 7765.42 1764.75 6442.23 38670.30 31303 1072.3
4 ALABAMA 1973 6      16406.26 7907.66 1742.41 6756.19 40084.01 33430 1135.5
5 ALABAMA 1974 6      16762.67 8025.52 1734.85 7002.29 42057.31 33749 1169.8
6 ALABAMA 1975 6      17316.26 8158.23 1752.27 7405.76 43971.71 33604 1155.4
  unemp
1 4.7
2 5.2
3 4.7
4 3.9
5 5.5
6 7.7

  firm year inv   value  capital
1 1    1935 317.6 3078.5   2.8
2 1    1936 391.8 4661.7  52.6
3 1    1937 410.6 5387.1 156.9
4 1    1938 257.7 2792.2 209.2
5 1    1939 330.8 4313.2 203.4
6 1    1940 461.2 4643.9 207.2

  exp wks bluecol ind south smsa married sex  union ed black lwage
1 3   32  no      0   yes   no   yes     male no    9  no    5.56068
2 4   43  no      0   yes   no   yes     male no    9  no    5.72031
3 5   40  no      0   yes   no   yes     male no    9  no    5.99645
4 6   39  no      0   yes   no   yes     male no    9  no    5.99645
5 7   42  no      1   yes   no   yes     male no    9  no    6.06146
6 8   35  no      1   yes   no   yes     male no    9  no    6.17379

Com a função `data` acima, apenas chamamos os dados do pacote `plm`. Agora, farei uso da função `pdata.frame` para atribuir as informações de dataframe ao painel de dados. Observar que aqui neste rnotebook.io não faz acesso a internet a não ser pelos pacotes já instalados internamente.

In [9]:
class(Grunfeld)

[1] "data.frame"

Agora vou especificar `EmplUK` como um dataset em painel, ou pdata.frame

In [10]:
E <- pdata.frame(EmplUK, index=c("firm","year"), drop.index=TRUE, row.names=TRUE)
head(E)
tail(E)

       sector emp   wage    capital output
1-1977 7      5.041 13.1516 0.5894   95.7072
1-1978 7      5.600 12.3018 0.6318   97.3569
1-1979 7      5.015 12.8395 0.6771   99.6083
1-1980 7      4.715 13.8039 0.6171  100.5501
1-1981 7      4.093 14.2897 0.5076   99.5581
1-1982 7      3.166 14.8681 0.4229   98.6151

         sector emp   wage    capital output
140-1979 3      1.438 29.0149 0.6650  111.5591
140-1980 3      1.401 28.2772 0.5936  100.0000
140-1981 3      1.330 30.4274 0.4754   99.3965
140-1982 3      1.192 30.5565 0.4203   99.2931
140-1983 3      1.136 30.8661 0.3697  107.0929
140-1984 3      1.093 30.6442 0.3625  113.4571

In [11]:
class(E)

[1] "pdata.frame" "data.frame"

Neste caso, foi especificado o identificador firm para a cross-section e o year para a time series do painel. O usuário deve estar atento que precisa haver um rótulo identificador para cross-section e para time series de modo que o pacote entenda e atribua corretamente as informações.

# Modelo de Efeito Fixos
Farei agora um modelo de efeitos fixos para o dataset `Grunfeld`. Primeiro definirei como `pdata.frame` e depois estimarei o modelo.

In [12]:
Grunfeld <- pdata.frame(Grunfeld, index=c("firm","year"), drop.index=TRUE, row.names=TRUE)
head(Grunfeld)

       inv   value  capital
1-1935 317.6 3078.5   2.8
1-1936 391.8 4661.7  52.6
1-1937 410.6 5387.1 156.9
1-1938 257.7 2792.2 209.2
1-1939 330.8 4313.2 203.4
1-1940 461.2 4643.9 207.2

In [13]:
dim(Grunfeld)

[1] 200   3

Agora estimarei o modelo em painel.

In [14]:
grun.fe <- plm(inv~value+capital, data = Grunfeld, model = "within")

Gerarei o sumário.

In [15]:
#Vou pedir o sumário da estimação.

summary(grun.fe)

Oneway (individual) effect Within Model

Call:
plm(formula = inv ~ value + capital, data = Grunfeld, model = "within")

Balanced Panel: n = 10, T = 20, N = 200

Residuals:
      Min.    1st Qu.     Median    3rd Qu.       Max.
-184.00857  -17.64316    0.56337   19.19222  250.70974

Coefficients:
        Estimate Std. Error t-value  Pr(>|t|)
value   0.110124   0.011857  9.2879 < 2.2e-16 ***
capital 0.310065   0.017355 17.8666 < 2.2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Total Sum of Squares:    2244400
Residual Sum of Squares: 523480
R-Squared:      0.76676
Adj. R-Squared: 0.75311
F-statistic: 309.014 on 2 and 188 DF, p-value: < 2.22e-16

* Contato: E-mail: <amrofi@gmail.com>

# **Siga nas redes sociais:**
* Facebook: <https://www.facebook.com/profadrianomrfigueiredo/>

* Youtube: <http://youtube.com/amrofi>
* Minha Página Web: <https://adrianofigueiredo.netlify.app/>

* RPubs: <https://rpubs.com/amrofi/>