<a href="https://colab.research.google.com/github/amrofi/jupyter_rnotebook/blob/master/Varejoms_Google_colab_Jupyter%2BNotebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introdução

Quero estabelecer uma nova conexao R no Google Colab

In [2]:
install.packages('plm', repos='http://cran.rstudio.com/')

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘miscTools’, ‘bibtex’, ‘gbRd’, ‘bdsmatrix’, ‘zoo’, ‘sandwich’, ‘lmtest’, ‘maxLik’, ‘Rdpack’, ‘Formula’

In [3]:
library("plm")

Este pacote possui quatro conjuntos de dados : `EmplUK` utilizado por M. Arellano e Bond (1991); `Grunfeld` de Kleiber e Zeileis (2008), utilizado em vários livros econométricos; `Produc` de Munnell (1990); e, `Wages` de Cornwell e Rupert (1988). Os dados são carregados fazendo:

In [4]:
data("EmplUK", package="plm")
data("Produc", package="plm")
data("Grunfeld", package="plm")
data("Wages", package="plm")

Com a função `data` acima, apenas chamamos os dados do pacote `plm`. Agora, farei uso da função `pdata.frame`  para atribuir as informações de dataframe ao painel de dados. Observar que aqui neste rnotebook.io não faz acesso a internet a não ser pelos pacotes já instalados internamente.

In [ ]:
E <- pdata.frame(EmplUK, index=c("firm","year"), drop.index=TRUE, row.names=TRUE)
head(E)

       sector emp   wage    capital output
1-1977 7      5.041 13.1516 0.5894   95.7072
1-1978 7      5.600 12.3018 0.6318   97.3569
1-1979 7      5.015 12.8395 0.6771   99.6083
1-1980 7      4.715 13.8039 0.6171  100.5501
1-1981 7      4.093 14.2897 0.5076   99.5581
1-1982 7      3.166 14.8681 0.4229   98.6151

Neste caso, foi especificado o identificador `firm` para a cross-section e o `year` para a time series do painel.  O usuário deve estar atento que precisa haver um rótulo identificador para cross-section e para time series de modo que o pacote entenda e atribua corretamente as informações.

# Modelo de Efeito Fixos
Farei agora um modelo de efeitos fixos para o dataset `Grunfeld`. Primeiro definirei como `pdata.frame` e depois estimarei o modelo.

In [ ]:
Grunfeld <- pdata.frame(Grunfeld, index=c("firm","year"), drop.index=TRUE, row.names=TRUE)
head(E)

       sector emp   wage    capital output
1-1977 7      5.041 13.1516 0.5894   95.7072
1-1978 7      5.600 12.3018 0.6318   97.3569
1-1979 7      5.015 12.8395 0.6771   99.6083
1-1980 7      4.715 13.8039 0.6171  100.5501
1-1981 7      4.093 14.2897 0.5076   99.5581
1-1982 7      3.166 14.8681 0.4229   98.6151

In [ ]:
grun.fe <- plm(inv~value+capital, data = Grunfeld, model = "within")

Vou pedir o sumário da estimação.

In [ ]:
summary(grun.fe)

Oneway (individual) effect Within Model

Call:
plm(formula = inv ~ value + capital, data = Grunfeld, model = "within")

Balanced Panel: n=10, T=20, N=200

Residuals :
    Min.  1st Qu.   Median  3rd Qu.     Max.
-184.000  -17.600    0.563   19.200  251.000

Coefficients :
        Estimate Std. Error t-value  Pr(>|t|)
value   0.110124   0.011857  9.2879 < 2.2e-16 ***
capital 0.310065   0.017355 17.8666 < 2.2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Total Sum of Squares:    2244400
Residual Sum of Squares: 523480
R-Squared:      0.76676
Adj. R-Squared: 0.75311
F-statistic: 309.014 on 2 and 188 DF, p-value: < 2.22e-16